<!-- login.component.html -->

<div class="min-h-screen  flex items-center justify-center px-4 py-10">

    <div class="w-full max-w-md">
  
      <!-- Card -->
      <div class="bg-white rounded-3xl shadow-xl p-8 border border-gray-100">
  
        <!-- Header -->
        <div class="text-center mb-8">
  
          <div
            class="w-16 h-16 mx-auto rounded-2xl bg-indigo-600 flex items-center justify-center mb-4"
          >
            <!-- <i class="pi pi-user text-white text-2xl"></i> -->
            <i class="pi pi-building-columns text-white text-2xl"></i>

          </div>
  
          <h1 class="text-3xl font-bold text-gray-800">
            Welcome Back
          </h1>
  
          <p class="text-gray-500 mt-2">
            Login to your account
          </p>
  
        </div>
  
        <form
          [formGroup]="loginForm"
          (ngSubmit)="submitForm()"
          class="space-y-6"
        >
  
          <div>
  
            <label class="block text-sm font-semibold text-gray-700 mb-2">
              Email Address
            </label>
  
            <div class="relative">
  
              <i
                class="pi pi-envelope absolute left-4 top-1/2 -translate-y-1/2 text-gray-400"
              ></i>
  
              <input
                type="email"
                formControlName="email"
                placeholder="Enter your email"
                class="w-full pl-12 pr-4 py-3 rounded-2xl border bg-gray-50 focus:bg-white outline-none transition duration-200"
                [ngClass]="{
                  'border-red-500 focus:border-red-500': loginForm.get('email')?.invalid && loginForm.get('email')?.dirty,
                  'border-gray-200 focus:border-indigo-500': !(loginForm.get('email')?.invalid && loginForm.get('email')?.dirty)
                }"
              />
  
            </div>
  
            @if (loginForm.get('email')?.dirty && loginForm.get('email')?.invalid) {
  
              <div class="mt-2">
  
                @if (loginForm.get('email')?.hasError('required')) {
                  <p class="text-red-500 text-sm">
                    Email is required
                  </p>
                }
  
                @if (loginForm.get('email')?.hasError('email')) {
                  <p class="text-red-500 text-sm">
                    Please enter a valid email
                  </p>
                }
  
              </div>
  
            }
  
          </div>
  
          <!-- Password -->
          <div>
  
            <label class="block text-sm font-semibold text-gray-700 mb-2">
              Password
            </label>
  
            <div class="relative">
  
              <i
                class="pi pi-lock absolute left-4 top-1/2 -translate-y-1/2 text-gray-400"
              ></i>
  
              <input
                type="password"
                formControlName="password"
                placeholder="Enter your password"
                class="w-full pl-12 pr-4 py-3 rounded-2xl border bg-gray-50 focus:bg-white outline-none transition duration-200"
                [ngClass]="{
                  'border-red-500 focus:border-red-500': loginForm.get('password')?.invalid && loginForm.get('password')?.dirty,
                  'border-gray-200 focus:border-indigo-500': !(loginForm.get('password')?.invalid && loginForm.get('password')?.dirty)
                }"
              />
  
            </div>
  
            @if (loginForm.get('password')?.dirty && loginForm.get('password')?.invalid) {
  
              <div class="mt-2">
  
                @if (loginForm.get('password')?.hasError('required')) {
                  <p class="text-red-500 text-sm">
                    Password is Required
                  </p>
                }@else if(loginForm.get('password')?.hasError('pattern')) {
                    <p class="text-red-500 text-sm">
                       Password must contain at least 8 chars, 1 uppercase, 1 lowercase, 1number, and 1 special
                    </p>
                 
                }
  
              </div>
  
            }
  
          </div>
  
    
  
          <!-- Submit -->
          <button
            type="submit"
            [disabled]="loginForm.invalid"
            class="w-full py-3 rounded-2xl bg-indigo-600 hover:bg-indigo-700 disabled:bg-indigo-300 text-white font-semibold transition duration-200 shadow-lg shadow-indigo-500/20"
          >
            Login
          </button>
  
        </form>
  
      </div>
  
    </div>
  
  </div>