<div class="  bg-gray-50 px-4 md:px-8">

    <!-- Top Actions Bar -->
    <div class="mx-auto flex flex-col xl:flex-row xl:items-center xl:justify-between gap-6 mb-10">

        <div class="flex flex-col gap-5 w-full">

            <div class="flex flex-col lg:flex-row lg:items-center gap-5 w-full">

                <!-- Heading -->
                <div class="space-y-1  ">
                    <h1 class="text-2xl sm:text-3xl font-black text-gray-900 tracking-tight">
                        Account Transactions
                    </h1>

                    <p class="text-gray-400 text-xs sm:text-sm font-medium">
                        Activity overview for
                        <span class="text-indigo-600 font-bold bg-indigo-50 px-2 py-0.5 rounded">
                            #{{ currentAccountId() }}
                        </span>
                    </p>
                </div>

                @if (currentAccount(); as acc) {

                <!-- Account Card -->
                <div
                    class="w-full overflow-x-hidden bg-white p-3 sm:p-4 rounded-3xl border border-gray-100 shadow-xl shadow-gray-200/40">

                    <div
                        class="flex flex-col sm:flex-row sm:items-center sm:divide-x divide-gray-100 gap-4 sm:gap-0 min-w-max">

                        <!-- Balance -->
                        <div class="sm:px-6">
                            <span class="text-[9px] font-black text-gray-400 uppercase tracking-widest block mb-1">
                                Total Balance
                            </span>

                            <span class="text-sm sm:text-base font-black text-gray-900">
                                {{ acc.balance | number }}

                                <span class="text-indigo-600 text-xs ml-0.5">
                                    {{ acc.currency }}
                                </span>
                            </span>
                        </div>

                        <!-- Status -->
                        <div class="sm:px-6">
                            <span class="text-[9px] font-black text-gray-400 uppercase tracking-widest block mb-1">
                                Status
                            </span>

                            <div class="flex items-center gap-2">
                                <span class="text-xs font-bold text-gray-700">
                                    {{ acc.type }}
                                </span>

                                <span
                                    class='bg-emerald-50 text-emerald-600 px-2 py-0.5 rounded-lg text-[9px] font-black uppercase border border-current/10'>
                                    {{ acc.status }}
                                </span>
                            </div>
                        </div>

                        <!-- IBAN -->
                        <div class="sm:px-6">
                            <span class="text-[9px] font-black text-gray-400 uppercase tracking-widest block mb-1">
                                IBAN Number
                            </span>

                            <div class="flex items-center gap-2 text-gray-500">

                                <span class="text-xs font-mono tracking-tighter break-all">
                                    {{ acc.iban }}
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                }
            </div>
        </div>

        <!-- Buttons -->
        <div class="flex flex-col sm:flex-row gap-3 w-full xl:w-auto shrink-0">

            <button (click)="showCreateModal()"
                class="w-full sm:w-auto px-4 py-3 cursor-pointer bg-indigo-600 rounded-2xl text-sm font-bold text-white shadow-lg shadow-indigo-200 hover:bg-indigo-700 transition-all active:scale-95 flex items-center justify-center gap-2">

                <i class="pi pi-plus"></i>

                New Transaction
            </button>

            <button [disabled]="filteredTransactions().length==0" (click)="exportCsv()"
                class="w-full sm:w-auto px-4 py-3 cursor-pointer bg-white border border-gray-200 rounded-2xl text-sm font-bold text-gray-600 shadow-sm hover:bg-gray-50 transition-all active:scale-95 flex items-center justify-center gap-2">

                <i class="pi pi-cloud-download"></i>

                Export
            </button>
        </div>
    </div>


    <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-4 gap-8">

        <!-- Sidebar Filters -->
        <aside class="lg:col-span-1 space-y-6">
            <div class="bg-white p-6 rounded-3xl border border-gray-100 shadow-sm sticky top-8">
                <div class="flex justify-between items-center mb-6">
                    <h2 class="font-bold text-gray-800 flex items-center gap-2">
                        <i class="pi pi-sliders-h text-gray-400" style="font-size: 1rem"></i>
                        Quick Filters
                    </h2>

                    <button (click)="updateFilters({fromDate:'', toDate:'', type:'', category:''})"
                        class="text-sm text-indigo-600 hover:underline font-semibold">Reset</button>
                </div>

                <div class="space-y-4 mb-8">
                    <div>
                        <label class="text-[10px] font-bold text-gray-400 uppercase tracking-wider mb-2 block">Start
                            Date</label>
                        <input type="date" [value]="filters().fromDate"
                            (input)="updateFilters({fromDate: $any($event.target).value})"
                            class="w-full bg-gray-50 border-gray-100 rounded-xl text-sm focus:ring-2 focus:ring-indigo-500 focus:bg-white transition-all">
                    </div>
                    <div>
                        <label class="text-[10px] font-bold text-gray-400 uppercase tracking-wider mb-2 block">End
                            Date</label>
                        <input type="date" [value]="filters().toDate"
                            (input)="updateFilters({toDate: $any($event.target).value})"
                            class="w-full bg-gray-50 border-gray-100 rounded-xl text-sm focus:ring-2 focus:ring-indigo-500 focus:bg-white transition-all">
                    </div>
                </div>

                <!-- Type Selection -->
                <div class="mb-8">
                    <label class="text-[10px] font-bold text-gray-400 uppercase tracking-wider mb-3 block">Transaction
                        Type</label>
                    <div class="flex bg-gray-100 p-1 rounded-2xl gap-1">
                        <button (click)="updateFilters({type: ''})"
                            [class]="!filters().type ? 'bg-white shadow-sm text-gray-900' : 'text-gray-500'"
                            class="flex-1 py-2 text-xs font-bold rounded-xl transition-all">All</button>
                        @for (t of types; track t.label) {
                        <button (click)="updateFilters({type: t.label})"
                            [class]="filters().type === t.label ? 'bg-white shadow-sm text-' + t.color + '-600' : 'text-gray-500'"
                            class="flex-1 py-2 text-xs font-bold rounded-xl transition-all">{{t.label}}</button>
                        }
                    </div>
                </div>

                <div class="flex flex-wrap gap-2">
                    <button (click)="updateFilters({ category: '' })"
                        class="px-4 py-2 rounded-xl text-sm font-bold transition-all" [class]="!filters().category 
                                                 ? 'bg-gray-900 text-white shadow-md' 
                                                 : 'bg-white border border-gray-200 text-gray-600 hover:bg-gray-50'">
                        All
                    </button>


                    @for (catName of categoryOptions(); track catName) {
                    <button (click)="updateFilters({ category: catName })"
                        class="px-4 py-2 rounded-xl text-xs font-bold transition-all" [class]="filters().category === catName 
                                                 ? 'bg-gray-900 text-white shadow-md' 
                                                 : 'bg-white border border-gray-200 text-gray-600 hover:bg-gray-50'">
                        {{ catName }}
                    </button>
                    }
                </div>
            </div>
        </aside>

        <!-- Main List -->
        <main class="lg:col-span-3 space-y-4">

            <div class="flex items-center justify-between px-2">
                <h5 class="text-sm font-bold text-gray-400 uppercase tracking-widest">Transactions List</h5>

            </div>

            <div class="bg-white rounded-[2rem] shadow-sm border border-gray-100 overflow-hidden">
                <div class="overflow-x-auto">
                    <table class="w-full text-left">

                        <thead class="bg-gray-50/50 border-b border-gray-50">
                            <tr class="text-left">
                                <!-- Merchant Column -->
                                <th class="px-8 py-5 text-[12px] font-black text-gray-400 uppercase tracking-widest">
                                    Description
                                </th>

                                <!-- Category Column -->
                                <th class="px-6 py-5 text-[12px] font-black text-gray-400 uppercase tracking-widest">
                                    Category
                                </th>
                                <th class="px-6 py-5 text-[12px] font-black text-gray-400 uppercase tracking-widest">
                                    Type
                                </th>
                                <!-- Date Column (Sortable) -->
                                <th (click)="setSort('date')"
                                    class="px-6 py-5 text-[12px] font-black uppercase tracking-widest cursor-pointer hover:bg-gray-100 transition-colors group">
                                    <div class="flex items-center gap-2"
                                        [class.text-indigo-600]="sortField() === 'date'">
                                        <span>Date</span>
                                        <i [class]="sortField() === 'date' 
                                                                    ? (sortDir() === 'asc' ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down') 
                                                                    : 'pi pi-sort-alt text-gray-700'"
                                            style="font-size: 0.75rem"></i>
                                    </div>
                                </th>

                                <!-- Amount Column (Sortable) -->
                                <th (click)="setSort('amount')"
                                    class="px-8 py-5 text-[12px] font-black uppercase tracking-widest cursor-pointer hover:bg-gray-100 transition-colors group text-right">
                                    <div class="flex items-center justify-end gap-2"
                                        [class.text-indigo-600]="sortField() === 'amount'">
                                        <span>Amount</span>
                                        <i [class]="sortField() === 'amount' 
                                                                    ? (sortDir() === 'asc' ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down') 
                                                                    : 'pi pi-sort-alt text-gray-700'"
                                            style="font-size: 0.75rem"></i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-50">
                            @if (isLoading()) {
                            <app-skeleton-table [rows]="5" [cols]="4"></app-skeleton-table> }
                            @for (tx of pagination.paginatedData(); track tx.id) {
                            <tr class="hover:bg-indigo-50/30 transition-colors group">
                                <td class="px-8 py-5">
                                    <div class="flex items-center gap-4">
                                        <div
                                            class="w-10 h-10 rounded-2xl bg-gray-100 flex items-center justify-center text-gray-500 group-hover:bg-white group-hover:shadow-sm transition-all font-black text-sm">
                                            {{tx.merchant[0]}}
                                        </div>
                                        <span class="font-bold text-sm  text-gray-800">{{tx.merchant}}</span>
                                    </div>
                                </td>
                                <td class="px-6 py-5">
                                    <span
                                        class="px-2.5 py-1 rounded-md bg-gray-100 text-gray-500 text-[10px] font-black uppercase tracking-widest border border-gray-200">
                                        {{ tx.category }}
                                    </span>
                                </td>
                             
                                <td>
                                    <span class=" px-6 py-5 text-sm text-gray-400 ">

                                        {{ tx.type }}
                                        <i
                                            [class]="tx.type === 'Credit' ? 'pi pi-arrow-down-left text-emerald-500 ' : 'pi pi-arrow-up-right text-red-500'"></i>
                                    </span>
                                </td>

                                <td class="px-6 py-5 text-sm text-gray-400  ">{{tx.date |
                                    date:'mediumDate'}}</td>
                                <td class="px-8 py-5 text-right">

                                    <span [class]="tx.type === 'Debit' ? 'text-red-500' : 'text-emerald-500'"
                                        class=" text-sm tracking-tight">
                                        {{tx.type === 'Debit' ? '-' : '+'}}{{tx.amount | number:'1.2-2'}}
                                        <span class="text-[12px] opacity-50 ml-1">{{currentAccount()?.currency}}</span>
                                    </span>
                                </td>

                            </tr>
                            } @empty {
                            <tr>
                                <td colspan="4" class="px-6 py-32 text-center">
                                    <div class="flex flex-col items-center gap-3">
                                        <div class="w-16 h-16 bg-gray-50 rounded-full flex items-center justify-center">
                                            <i class="pi pi-inbox text-gray-200" style="font-size: 2rem"></i>
                                        </div>
                                        <p class="text-gray-400 font-bold">No transactions found for this selection</p>
                                    </div>
                                </td>
                            </tr>
                            }

                        </tbody>

                    </table>

                </div>

                <!-- Pagination Bar -->
                <div
                    class="px-8 py-5 bg-gray-50/30 border-t border-gray-50 flex flex-col sm:flex-row items-center justify-between gap-4">
                    <div class="text-xs font-black text-gray-400 uppercase tracking-widest">
                        Showing
                        <span class="text-indigo-600">
                            {{ (pagination.currentPage() - 1) * pagination.pageSize() + 1 }} -
                            {{ Math.min(pagination.currentPage() * pagination.pageSize(), filteredTransactions().length)
                            }}
                        </span>
                        of {{ filteredTransactions().length }} Transactions
                    </div>

                    <div class="flex items-center gap-2">
                        <button (click)="pagination.goToPage(pagination.currentPage() - 1)"
                            [disabled]="pagination.currentPage() === 1"
                            class="w-10 h-10 rounded-xl border border-gray-200 bg-white flex items-center justify-center text-gray-400 hover:text-indigo-600 transition-all disabled:opacity-30">
                            <i class="pi pi-chevron-left text-xs font-bold"></i>
                        </button>

                        <div class="flex gap-1.5">
                            
                            @for (p of [].constructor(pagination.totalPages()); track $index) {
                            <button (click)="pagination.goToPage($index + 1)" [class]="$index + 1 === pagination.currentPage() 
                                ? 'bg-indigo-600 text-white shadow-lg border-indigo-600' 
                                : 'bg-white text-gray-500 border-gray-200 hover:bg-gray-50'"
                                class="w-10 h-10 rounded-xl border text-xs font-black transition-all">
                                {{ $index + 1 }}
                            </button>
                            }
                        </div>

                        <button (click)="pagination.goToPage(pagination.currentPage() + 1)"
                            [disabled]="pagination.currentPage() === pagination.totalPages()"
                            class="w-10 h-10 rounded-xl border border-gray-200 bg-white flex items-center justify-center text-gray-400 hover:text-indigo-600 transition-all disabled:opacity-30">
                            <i class="pi pi-chevron-right text-xs font-bold"></i>
                        </button>
                    </div>
                </div>



            </div>

        </main>
    </div>
</div>